
.row{
     margin: 0 auto !important;
}
.text-primary{
     text-decoration: none !important;
}
.preloaderWrap{
     z-index: 9999;
     background-color: #ffff;
     height: 100% !important;
     width: 100% !important;
     position: fixed;
     top: 0;
     left: 0;
}

.preloader{
     height: 5rem;
     width: 5rem;
}