* {
    margin: 0;
    padding: 0;
    font-family: Gotham Rounded, sans-serif;
    box-sizing: border-box;
}

.output-field {
    min-height: 7rem;
    text-align: end !important;
    word-wrap: break-word;
    word-break: break-all;
    padding: 1rem;
    border-radius: 16px 16px 0 0;
}

.bg-danger {
    background-color: #ff0000 !important;
}

.previous-operation {
    display: block;
    color: rgba(255, 255, 255, .9);
    font-size: 18px;
}

.current-operation {
    display: block;
    color: white;
    font-size: 30px;
}

.keys {
    display: flex;
    background-color: white !important;
    justify-content: space-between;
}

.btn {
    background-color: lightgray;
    border-radius: 50%;
    font-size: 24px;
    min-width: 50px !important;
}

.btn-equals {
    background-color: #ff0000;
    color: white;
}

.btn:hover, .btn:active {
    background-color: #ff0000 !important;
    color: white !important;
}

.decorative-end{
    height: 2rem;
    border-radius: 0 0 16px 16px;
}